@font-face {
  font-family: Bodoni;
  src: url(/bodoni-72-oldstyle-book.woff) format("woff");
}
body {
  margin: 0;
  aspect-ratio: 1920 * 1080;
  background-size: cover;
}

video {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
main {
  max-width: 100%;
  background-size: cover;
}
/*********** HEADER **************/
.banner {
  background: rgb(255, 255, 255);
  padding: 0.5rem;
  padding-right: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 20px;
}
.logo img {
  height: 70px;
  width: auto;
  margin-left: 10%;
  margin-top: 2%;
}

.main-menu ul {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 55px;
}
.main-menu a {
  font-size: 1.3rem;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 4%;
  cursor: pointer;

  display: none;
}
.toggle-btn:hover {
  scale: 1.2;
}
a {
  color: rgb(73, 73, 73);
  text-decoration: none;
  font-family: "Bodoni";
  font-size: 1.2rem;
  font-weight: 900;
}
a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }
  a:hover {
    font-weight: bold;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    align-items: flex-end;
  }
}

/*********** Texts **************/

h1 {
  color: black;
  font-weight: 700;
  text-align: left;
}
h2 {
  color: black;
  font-weight: 700;
  text-align: left;
}
p {
  color: black;
  font-weight: 700;
  text-align: left;
  font-family: Bodoni 72 Oldstyle;
}
.white {
  color: white;
}

/*********** FOOTER **************/
footer {
  background-color: #8c8d6e;
  width: auto;
  padding: 20px;
}
.footer_text {
  font-size: 0.8rem;
  color: white;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  gap: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.foot:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
}
.foot:nth-child(2) {
  grid-column: 1;
}
.foot:nth-child(4) {
  margin-top: -10%;
}

@media (min-width: 768px) {
  footer {
    background-color: #8c8d6e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 25vw;
  }
  .footer_text {
    font-size: 1.1rem;
    color: white;
  }

  .footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1%;
    box-sizing: border-box;
  }

  .foot:nth-child(1) {
    margin-top: 80px;
    margin-left: 150px;
    grid-column: 1;
    grid-row: 1;
  }

  .foot:nth-child(2) {
    margin-top: 80px;
    margin-left: 100px;
    grid-column: 2;
    grid-row: 1;
  }

  .foot:nth-child(3) {
    margin-top: 80px;
    margin-left: 0;
    grid-column: 3;
    grid-row: 1;
  }

  .foot:nth-child(4) {
    margin-top: 80px;
    grid-column: 4;
    grid-row: 1;
    width: 50%;
  }
  .foot:nth-child(4) img {
    margin-top: 53%;
  }
}
