@font-face {
  font-family: Bodoni;
  src: url(/bodoni-72-oldstyle-book.woff) format("woff");
}
body {
  margin: 0;
  aspect-ratio: 1920 * 1080;
  background-size: cover;
}

video {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
main {
  max-width: 100%;
  background-size: cover;
}
/*********** HEADER **************/
.banner {
  background: rgb(255, 255, 255);
  padding: 0.5rem;
  padding-right: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 20px;
}
.logo img {
  height: 70px;
  width: auto;
}

.main-menu ul {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 55px;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 4%;
  cursor: pointer;

  display: none;
}
.toggle-btn:hover {
  scale: 1.2;
}
a {
  color: rgb(73, 73, 73);
  text-decoration: none;
  font-family: "Bodoni", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }
  a:hover {
    font-weight: bold;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    align-items: flex-end;
  }
}

/*********** Texts **************/

h1 {
  color: black;
  font-weight: 700;
  text-align: left;
}
h2 {
  color: black;
  font-weight: 700;
  text-align: left;
}
p {
  color: black;
  font-weight: 700;
  text-align: left;
  font-family: Bodoni 72 Oldstyle;
}
.white {
  color: white;
}

/*********** FOOTER **************/
.footer_text {
  font-size: 1rem;
  color: white;
}
footer {
  background-color: #8c8d6e;
  height: 480px;
  width: auto;
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.foot:nth-child(1) {
  margin-top: 80px;
  margin-left: 150px;
  grid-column: 1;
}
.foot:nth-child(2) {
  margin-top: 80px;
  margin-left: 100px;
  grid-column: 2;
}
.foot:nth-child(3) {
  margin-top: 80px;
  margin-left: 0;
  grid-column: 3;
}
.foot:nth-child(4) {
  margin-top: 80px;
  margin-left: -100px;
  grid-column: 4;
}
