body {
  background-image: url(/IMAGES/Background.png);
  background-size: cover;
}
main {
  overflow: hidden;
}

.text_align {
  text-align: center;
  align-items: center;
  margin: 0;
}
.text_align2 {
  text-align: center;
  align-items: center;
  margin: 0;
}
.margin {
  margin-bottom: 20px;
}

.text-limit {
  width: 180px;
  text-align: start;

  filter: drop-shadow(rgba(0, 0, 0, 0.454) 1px 0px 0px);
}
.text-limit1 {
  margin-left: 4%;
  margin-right: 2%;
  text-align: start;
  filter: drop-shadow(rgba(0, 0, 0, 0.454) 1px 0px 0px);
}
h1 {
  font-size: 0.9rem;
  color: white;
}
p {
  font-size: 0.55rem;
  font-weight: 100;
  color: white;
}
.black {
  color: rgb(69, 69, 69);
}
.border {
  border: #8c8d6e solid 20px;
}
.border1 {
  border: #8c8d6e solid 5px;
}
/********** PLANTE FORSIDE **************/

.planterForside {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.planter:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  place-self: center;
  width: 60%;
}
.planter:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
  background-color: #8c8d6e;
}
/********** SECTION 1 **************/

.section1 {
  height: 20px;
  background-color: #8c8d6e;
  margin-bottom: 5%;
}
/************ BOTANISK PARADIS ***********/

.botanisk_paradis {
  display: grid;
  grid-template-columns: repeat(1) 1fr;
}
.botanisk_paradis img {
  height: auto;
  width: 100%;
}
.textbox:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 2%;
  margin-left: 4%;
  z-index: 10;
}
.textbox:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

/*************** BONSAI **************/

.bonsai_container {
  display: grid;
  grid-template-columns: repeat(1) 1fr;
  position: relative;
  border: #8c8d6e 5px;
  margin-bottom: 5%;
}
.bonsai:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
  z-index: 0;
}
.bonsai:nth-child(2) {
  grid-column: 1;
  z-index: 0;
}
.bonsai h1 {
  font-size: 3rem;
  text-align: center;
}
.bonsai p {
  font-size: 1rem;
  text-align: left;
}
.bonsai img {
  width: 80%;
  height: auto;
  align-items: center;
  margin-left: 5%;
}
#bonsai img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1s;
}
.bonsai img {
  border: #8c8d6e solid 20px;
}
/********* MENUBAR *******/
.menuBar {
  height: 172px;
  margin-bottom: 80px;
  margin-top: 4%;
}
.menuBar img {
  width: 100%;
  height: auto;
}
.menuBar_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  margin-bottom: 5%;
}
.menu:nth-child(1) {
  grid-row: 1;
}
.menu:nth-child(2) {
  grid-row: 2;
}
.menu:nth-child(3) {
  grid-row: 3;
}
.menu img {
  height: 172px;
  width: auto;
}
.menu a:hover {
  filter: brightness(150%);
}
.menu {
  position: relative;
}
.menu a {
  position: relative;
  display: block;
  text-decoration: none;
}
.image-text {
  position: absolute;
  top: 4%;
  left: 2%;
  color: white;
  padding: 5px 10px;
  font-size: 2rem;
}
/************* ET STORT UDVALG *******/
.stortudvalg h1 {
  font-size: 2rem;
}
.stortudvalg p {
  font-size: 1rem;
}

.et_stort_udvalg {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5.5%;
  margin-right: 5.5%;
  margin-bottom: 5%;
  text-align: center;
}
.et_stort_udvalg img {
  height: auto;
  width: 60%;
}
.udvalg:nth-child(1) {
  grid-column: 1;
}
.udvalg:nth-child(2) {
  grid-column: 2;
}
.udvalg:nth-child(3) {
  grid-column: 3;
}
.udvalg:nth-child(4) {
  grid-column: 4;
}
.udvalg:nth-child(5) {
  grid-column: 5;
}

@media (min-width: 768px) {
  body {
    background-image: url(/IMAGES/Background.png);
    background-size: cover;
  }
  main {
    overflow: hidden;
  }
  .text_align {
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .text_align2 {
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .margin {
    margin-bottom: 40px;
  }

  .text-limit {
    width: 40%;
    text-align: start;
    filter: drop-shadow(rgba(0, 0, 0, 0.454) 1px 0px 0px);
  }
  .text-limit1 {
    width: 80%;
    text-align: start;
    filter: drop-shadow(rgba(0, 0, 0, 0.454) 1px 0px 0px);
  }
  h1 {
    font-size: 3vw;
    color: white;
  }
  p {
    font-size: 1vw;
    color: white;
  }
  .black {
    color: rgb(69, 69, 69);
  }
  .border {
    border: #8c8d6e solid 20px;
  }
  .border1 {
    border: #8c8d6e solid 20px;
  }
  /********** PLANTE FORSIDE **************/

  .planterForside {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  .planter:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    place-self: center;
  }
  .planter:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    background-color: #8c8d6e;
  }

  /********** SECTION 1 **************/

  .section1 {
    height: 80px;
    background-color: #8c8d6e;
    margin-bottom: 80px;
  }

  /************ BOTANISK PARADIS ***********/

  .botanisk_paradis {
    display: grid;
    grid-template-columns: repeat(2) 1fr;
    overflow: hidden;
  }
  .botanisk_paradis h1 {
    font-family: "Noto Serif Lao", serif;
    font-weight: 900;
  }
  .botanisk_paradis p {
    font-family: "Noto Serif Lao", serif;
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .textbox:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    margin-left: 100px;
  }
  .textbox:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 0;
  }

  /*************** BONSAI **************/

  .bonsai_container {
    display: grid;
    grid-template-columns: repeat(2) 1fr;
  }

  .bonsai img {
    width: 80%;
  }
  .bonsai h1 {
    font-family: "Noto Serif Lao", serif;
    font-weight: 900;
  }
  .bonsai p {
    font-family: "Noto Serif Lao", serif;
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .bonsai:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    margin-top: 80px;
    margin-left: 10%;
    margin-bottom: 80px;
  }
  .bonsai:nth-child(2) {
    margin-top: 60px;
    grid-column: 2;
    grid-row: 1;
    z-index: 0;
  }
  .bonsai:nth-child(2) p {
    margin-left: 10%;
  }

  /*************** MENUBAR *************/

  .menuBar {
    height: 172px;
    margin-bottom: 80px;
  }

  .menuBar_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
  .menu:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .menu:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
  .menu {
    position: relative;
  }
  .menu img {
    height: 172px;
    width: auto;
  }

  .menu a {
    position: relative;
    display: block;
    text-decoration: none;
  }
  .menu a:hover {
    filter: brightness(150%);
  }

  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 10px;
    font-size: 2rem;
  }
  /************* ET STORT UDVALG *************/

  .stortudvalg h1 {
    font-size: 4rem;
  }
  .stortudvalg p {
    font-size: 2rem;
  }
  .et_stort_udvalg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 5.5%;
    margin-bottom: 80px;
  }
  .et_stort_udvalg img {
    height: auto;
    width: 60%;
  }
  .udvalg:nth-child(1) {
    grid-column: 1;
  }
  .udvalg:nth-child(2) {
    grid-column: 2;
  }
  .udvalg:nth-child(3) {
    grid-column: 3;
  }
  .udvalg:nth-child(4) {
    grid-column: 4;
  }
  .udvalg:nth-child(5) {
    grid-column: 5;
  }
}
/******* ANIMATIONS ********/
